doctype html
head
  title YouTube Converter
  script(type='text/javascript' src='/javascripts/module.js')
  script(type='text/javascript' src='/javascripts/queue.js')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')
h1
  a(href='https://www.youtube.com/')
    i.fa.fa-youtube-play(style='font-size:48px;color:red')
  span.you You
  span.tube Tube 
  span.converter Converter
div.container
  form(action="/url", method="get")
    div.queue
      div.input-container
        input.URL-input(type="text", name="URL", id="URL", placeholder='URL, i.e. https://www.youtube.com/watch?v=TMEmv9uienU', required)
        p.remove &#x2715;
  div.button-container
    button.addToQueue(onclick="addToQueue()") Add
    button.converter-button Convert
